* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

#perfil{
    margin-bottom: 10px;
}
h2, h3 {
    color: #1c1c1c;
    margin-bottom: 10px;
}
main p, ul {
    color: #333;
    text-align: left; 
    line-height: 1.6;
}
main li{
    margin-bottom: 8px;
}

.toggle {
    position: fixed;
    top: 11px; 
    right: 20px;  
    cursor: pointer;
}

body {
    padding-top: 40px;
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Asegura que ocupe todo el ancho */
    padding: 10px 20px; /* Un poco de relleno para que no toque los bordes */
    position: fixed; /* Hace que se quede en la parte superior mientras haces scroll */
    top: 0;
    left: 0;
}

.logo {
    font-size: 24px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

ul li {
    margin-right: 20px;
}

ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Cambiar disposición en pantallas pequeñas */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        text-align: center;
    }

    ul {
        flex-direction: column;
        width: 100%;
    }

    ul li {
        margin-bottom: 10px;
    }
    #perfil{
        margin-top: 180px;
    }
}

/* Añadir un margen superior al contenido para que no quede cubierto por la barra de navegación */
main {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    padding: 40px 20px;
    max-width: 800px; 
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-style: normal;
    margin-top: auto; /* Ajusta según la altura de la barra */
}

header {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    padding: 30px 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 15px;
    font-style: normal;
}

.janson {
    margin: 20px 0px;
    border-radius: 20px;
    box-shadow: 1px 1px 15px;
}

.luna {
    display: none;
}

body:has(#modo:checked) {
    background-color: black;
    color: white;
}

#modo:checked ~ .toggle .sol {
    display: none;
}

#modo:checked ~ .toggle .luna {
    display: inline;
}

.redes_iconos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.githuboscuro{
    display: none;
}

body:has(#modo:checked) .githubclaro{
    display: none;
    transition: 0.3;
}

body:has(#modo:checked) .githuboscuro{
    display: inline;
    transition: 0.3s;
}

.twitteroscuro{
    display: none;
}

body:has(#modo:checked) .twitterclaro{
    display: none;
    transition: 0.3;
}

body:has(#modo:checked) .twitteroscuro{
    display: inline;
    transition: 0.3s;
}